/*Page*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
	background-color: rgb(166, 240, 243);
	 margin: 20px;
	 font-family: 'Roboto', sans-serif;
}

main {
	display: grid;
	grid-auto-flow: row;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 20px;
}

.card {
	background-color: aliceblue;
	border-radius: 10px;
	box-shadow: 2px 2px 4px rgb(72, 139, 201);
	display: block;
}

h2 {
	font-size: 2rem;
	text-align: center;
	text-transform: capitalize;
}

p {
	font-size: 1rem;
	text-align: center;

}

a {
	text-align: center;
	text-decoration: none;
	color: inherit;
	margin: 1rem;
	padding: 1rem;
}

a:hover {
	border-radius: 2rem;
	
	background-color: aqua;
	color: aliceblue;
	box-shadow: 2px 2px 6px rgb(103, 110, 110);
}

img {
	height: 50px;
	margin: auto;
}

.logo {
	margin-top: 2rem;
	margin-bottom: 1rem;
}

.title {
margin: 1rem;
}

.description {
margin: 1rem;
}

.link {
	margin: 1rem;
}

.centerlink {
	text-align: center;
	text-transform: uppercase;
}